<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chunqiu-yuanquan.geo.stack</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__START_SCRIPT__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__ROOT_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__RUNTIME_PATH__</string>
    <key>UV_CACHE_DIR</key>
    <string>__UV_CACHE_DIR__</string>
    <key>GEO_WEB_MODE</key>
    <string>production</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__STDOUT_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_PATH__</string>
</dict>
</plist>
