<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chunqiu-yuanquan.geo.worker</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BIN__</string>
    <string>scripts/run_worker.py</string>
    <string>--interval-seconds</string>
    <string>1</string>
    <string>--concurrency</string>
    <string>__CONCURRENCY__</string>
    <string>--worker-id</string>
    <string>__WORKER_ID__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__API_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__RUNTIME_PATH__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__STDOUT_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_PATH__</string>
</dict>
</plist>
